/* Media Query*/

@media screen and (max-width: 1024px) {  /*mq body*/
    .nav-flex {
        flex-direction: column;
        align-items: center;
    }
    .nav-flex-rev {
        flex-direction: column-reverse;
    }
    .header-left {
         margin-right:0;
         width: 100%;
    }

    .heading-one{
        font-size: 24px;
    }

    .heading-three{
        font-size: 18px;
    }

    .header-left p {
        margin: 12px 0;
    }

    .header-img{
        width: 100%;
    }

    .header-right{
        width: 100%;
        margin-bottom: 12px;
        text-align: center;
    }

    .subscribe-container{
        flex-direction: column;
    }

   .subscribe-container .input{
       margin-right: 0;
       margin-bottom: 16px;
   }

   #card-container{
       flex-direction: column;
   }

   .app-promo{
       flex-direction: column;
       align-items: center;
   }

   .promo-txt{
       text-align: left;
   }

   .promo-btn .btn{
       width: 100%;
   }

   .promo-img{
       width: 25vh;
       margin-bottom: 16px;
       margin-right: 0;

   }

} /* closing mq body*/